@font-face {
    font-family: dogica;
    src: url("../assets/dogica/dogica.otf");
}

:root {
    --green-0: #C4F0C2;
    --green-1: #5AB9A8;
    --green-2: #1E606E;
    --green-4: #2D1B00;
}

html *{
    cursor: url(../assets/icons/cursor.png), auto;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: dogica, monospace;
    background-color: #C4F0C2;
    color: var(--green-4);
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: transparent;
    font-family: dogica, monospace;
    padding: 12px 16px;
    color: var(--green-4);
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    scale: 1.05;
}

button:active {
    scale: 0.95;
}

button:disabled {
    opacity: 80%;
    scale: 0.95;
}

* {
    scrollbar-width: auto;
    scrollbar-color: var(--green-4) var(--green-0);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--green-0);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--green-4);
    border: 3px solid var(--green-0);
}